<h2 class="hero-title">Lista de Superhéroes</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre del Superhéroe</th>
      <th>Nombre Real</th>
      <th>Edad</th>
      <th>Planeta de Origen</th>
      <th>Debilidad</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% heroes.forEach(heroe => { %>
      <tr>
        <td><%= heroe.id %></td>
        <td><%= heroe.nombreSuperheroe %></td>
        <td><%= heroe.nombreReal %></td>
        <td><%= heroe.edad %></td>
        <td><%= heroe.planetaOrigen %></td>
        <td><%= heroe.debilidad %></td>
        <td>
          <!-- Botón Editar -->
          <a href="/heroes/<%= heroe.id %>/editar" class="btn-edit">Editar</a>
        </td>
        <td>
          <!-- Botón Eliminar -->
          <form action="/heroes/<%= heroe.id %>?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn-delete">Eliminar</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

