<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/dashboard.css">

  </head>
  
<body>
  <!-- Video de fondo -->
  <div class="video-background">
    <video autoplay loop /*muted /*playsinline*/ >
      <source src="/videos/bankai.mp4" type="video/mp4">
      Tu navegador no soporta la reproducción de videos.
    </video>
    <button id="soundToggle" onclick="toggleSound()">🔊 Activar Sonido</button>
  </div>

  <%- include('partials/header') %>
  <main>
    <% if (success_messages.length > 0) { %>
      <div class="flash success">
        <ul>
          <% success_messages.forEach(msg => { %>
            <li><%= msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    <% if (error_messages.length > 0) { %>
      <div class="flash error">
        <ul>
          <% error_messages.forEach(msg => { %>
            <li><%= msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    <%- body %>
  </main>
  <%- include('partials/footer') %>
  <script src="/scripts.js"></script> <!-- Enlace al archivo JavaScript -->
</body>
</html>
